<a href="https://colab.research.google.com/github/swaroopkasaraneni/PythonProgramming/blob/main/DataManCase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Compute how much total salary cost has increased from year 2011 to 2014

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Salaries.csv')

salary_2011 = df[df['Year'] == 2011]['TotalPay'].sum()
salary_2014 = df[df['Year'] == 2014]['TotalPay'].sum()

salary_increase = salary_2014 - salary_2011

print(f"Total salary cost in 2011: {salary_2011}")
print(f"Total salary cost in 2014: {salary_2014}")
print(f"Increase in total salary cost from 2011 to 2014: {salary_increase}")

Total salary cost in 2011: 2594113030.72
Total salary cost in 2014: 2876910951.2599998
Increase in total salary cost from 2011 to 2014: 282797920.53999996

<ipython-input-1-12ef5d9ee658>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

2. Which Job Title in Year 2014 has highest mean salary?

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Salaries.csv')
df_2014 = df[df['Year'] == 2014]

mean_salary_by_job = df_2014.groupby('JobTitle')['TotalPay'].mean()

highest_mean_salary_job = mean_salary_by_job.idxmax()
highest_mean_salary_value = mean_salary_by_job.max()

print(f"Job Title with the highest mean salary in 2014: {highest_mean_salary_job}")
print(f"Mean Salary: {highest_mean_salary_value}")

Job Title with the highest mean salary in 2014: Chief Investment Officer
Mean Salary: 339653.7

<ipython-input-2-65c122460df2>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

3.How much money could have been saved in the Year 2014 by stopping OverTimePay?

In [2]:
import pandas as pd

df = pd.read_csv('/content/Salaries.csv')
data_2014 = df[df['Year'] == 2014]
overtime_pay_saved = data_2014['OvertimePay'].sum()
print(f"Money that could have been saved in 2014 by stopping OvertimePay: ${overtime_pay_saved:,.2f}")

Money that could have been saved in 2014 by stopping OvertimePay: $205,918,599.27

<ipython-input-2-d304fa388eb0>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

4.Which are the top 5 common jobsin the Year 2014 and how much do they cost SFO?

In [1]:
import pandas as pd

df = pd.read_csv('/content/Salaries.csv')

df_2014 = df[df['Year'] == 2014]
job_counts = df_2014['JobTitle'].value_counts()

last_5_common_jobs = job_counts.tail(5)

total_salary_by_job = df_2014[df_2014['JobTitle'].isin(last_5_common_jobs.index)]
total_salary_by_job_cost = total_salary_by_job.groupby('JobTitle')['TotalPay'].sum()

print("Last 5 Common Jobs in 2014 and their Total Salary Costs (San Francisco):")
print(total_salary_by_job_cost)

Last 5 Common Jobs in 2014 and their Total Salary Costs (San Francisco):
JobTitle
Asst Dir, Log Cabin Rnch         96812.41
Chf Prob Ofc, Juv Court         198104.36
Claims Process Clerk             61795.03
Electric Motor Repair Sprv 1    104563.68
Media Production Specialist      71636.84
Name: TotalPay, dtype: float64

<ipython-input-1-8c1d47a267f5>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

5.Who was the top earning employee across all the years?

In [3]:
import pandas as pd

df = pd.read_csv('/content/Salaries.csv')
top_earner = df.loc[df['TotalPayBenefits'].idxmax()]
print("Top Earning Employee Details:")
print(top_earner)

Top Earning Employee Details:
Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

<ipython-input-3-f039a65f4f38>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

Enhancements for code
1. Which are the last 5 common job in Year 2014 and how much do they cost SFO?

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Salaries.csv')

df_2014 = df[df['Year'] == 2014]
job_counts = df_2014['JobTitle'].value_counts()

last_5_common_jobs = job_counts.tail(5)

total_salary_by_job = df_2014[df_2014['JobTitle'].isin(last_5_common_jobs.index)]
total_salary_by_job_cost = total_salary_by_job.groupby('JobTitle')['TotalPay'].sum()

print("Last 5 Common Jobs in 2014 and their Total Salary Costs (San Francisco):")
print(total_salary_by_job_cost)

Last 5 Common Jobs in 2014 and their Total Salary Costs (San Francisco):
JobTitle
Asst Dir, Log Cabin Rnch         96812.41
Chf Prob Ofc, Juv Court         198104.36
Claims Process Clerk             61795.03
Electric Motor Repair Sprv 1    104563.68
Media Production Specialist      71636.84
Name: TotalPay, dtype: float64

<ipython-input-4-8c1d47a267f5>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')

2. In year 201 OverTimePay was what percentage of  TotalPayBenefits

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Salaries.csv')
df_2011 = df[df['Year'] == 2011]
df_2011.loc[:, 'OvertimePayPercentage'] = (df_2011['OvertimePay'] / df_2011['TotalPayBenefits']) * 100
mean_percentage = df_2011['OvertimePayPercentage'].mean()
print(f"The average percentage of OvertimePay in TotalPayBenefits for Year 2011 is: {mean_percentage:.2f}%")

The average percentage of OvertimePay in TotalPayBenefits for Year 2011 is: 4.70%

<ipython-input-6-a58f75248fda>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')
<ipython-input-6-a58f75248fda>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2011.loc[:, 'OvertimePayPercentage'] = (df_2011['OvertimePay'] / df_2011['TotalPayBenefits']) * 100

3. Which Job Title in Year 2014 has lowest mean salary?

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Salaries.csv')
df_2014 = df[df['Year'] == 2014]

mean_salary_by_job = df_2014.groupby('JobTitle')['TotalPay'].mean()
lowest_mean_salary_job = mean_salary_by_job.idxmin()
lowest_mean_salary_value = mean_salary_by_job.min()

print(f"The job title with the lowest mean salary in 2014 is: {lowest_mean_salary_job}")
print(f"The lowest mean salary is: {lowest_mean_salary_value}")

The job title with the lowest mean salary in 2014 is: Special Assistant 15
The lowest mean salary is: 0.0

<ipython-input-7-7c15e44b54dc>:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Salaries.csv')