<a href="https://colab.research.google.com/github/swaroopkasaraneni/PythonProgramming/blob/main/DevelopingWebCase1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a pandas dataframe having following structure

```
#     float_col        int_col str_col
0       0.1           1       a
1       0.2           2       b
2       0.2           6       None
3       10.1          8       c
4        NaN         -1       a
```

In [6]:
import pandas as pd
import numpy as np

data = {
    "float_col": [0.1, 0.2, 0.2, 10.1, np.nan],
    "int_col": [1, 2, 6, 8, -1],
    "str_col": ["a", "b", None, "c", "a"],
}

df = pd.DataFrame(data)
print(df)

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        NaN       -1       a

2.filter  the  columns  'float_col',  'int_col'  from  the  dataframe  in  one  query.  Hint-use  ix method of dataframes. Also print without using ix method

In [9]:
# Filter the columns 'float_col' and 'int_col'
filtered_df_loc = df.loc[:, ["float_col", "int_col"]]
print(filtered_df_loc)

# Filter columns using their positions (0 and 1 in this case)
filtered_df_iloc = df.iloc[:, [0, 1]]
print(filtered_df_iloc)

# Directly access the columns
filtered_df_direct = df[["float_col", "int_col"]]
print(filtered_df_direct)

   float_col  int_col
0        0.1        1
1        0.2        2
2        0.2        6
3       10.1        8
4        NaN       -1
   float_col  int_col
0        0.1        1
1        0.2        2
2        0.2        6
3       10.1        8
4        NaN       -1
   float_col  int_col
0        0.1        1
1        0.2        2
2        0.2        6
3       10.1        8
4        NaN       -1

3.filter the records from float_col having value greater than 0.15 and in separate query filter float_col value equal to 0.1

In [13]:
filtered = df[df["float_col"] > 0.15]
print(filtered)
filtered = df[df["float_col"] == 0.1]
print(filtered)

   float_col  int_col str_col
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
   float_col  int_col str_col
0        0.1        1       a

4.filter  the  records  from data  framewhich  satisfies  both  the  conditions  float_col greater than 0.1 and int_col greater than 2

In [14]:
filtered = df[(df["float_col"] > 0.1) & (df["int_col"] > 2)]
print(filtered)

   float_col  int_col str_col
2        0.2        6    None
3       10.1        8       c

5.filter  the  records  from  data  frame  which  satisfies  both  the  conditions  float_col greater than 0.1 or int_colgreater than 2

In [15]:
filtered = df[(df["float_col"] > 0.1) | (df["int_col"] > 2)]
print(filtered)

   float_col  int_col str_col
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c

6.filter the records from data frame which satisfies the conditions float_col not greater than 0.1

In [16]:
filtered = df[(df["float_col"] <= 0.1)]
print(filtered)

   float_col  int_col str_col
0        0.1        1       a

7.Create a new data frame in which column int_col is renamed to new_name.

In [17]:
# Rename the column 'int_col' to 'new_name'
df_renamed = df.rename(columns={"int_col": "new_name"})

# Print the new DataFrame
print(df_renamed)

   float_col  new_name str_col
0        0.1         1       a
1        0.2         2       b
2        0.2         6    None
3       10.1         8       c
4        NaN        -1       a

8.Modify the existing dataframe and rename the column int_col to new_name

In [18]:
# Rename the column 'int_col' to 'new_name'
df.rename(columns={"int_col": "new_name"}, inplace=True)

# Print the new DataFrame
print(df)

   float_col  new_name str_col
0        0.1         1       a
1        0.2         2       b
2        0.2         6    None
3       10.1         8       c
4        NaN        -1       a

9.Drop the rows where any value is missing from the dataframe

In [19]:
df_dropped = df.dropna()

# Print the new DataFrame
print(df_dropped)

   float_col  new_name str_col
0        0.1         1       a
1        0.2         2       b
3       10.1         8       c

10. Change the missing value in column float_col as mean value of the float_col

In [20]:

mean_value = df["float_col"].mean()
df["float_col"].fillna(mean_value, inplace=True)
print(df)

   float_col  new_name str_col
0       0.10         1       a
1       0.20         2       b
2       0.20         6    None
3      10.10         8       c
4       2.65        -1       a

<ipython-input-20-f3e570fba26a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["float_col"].fillna(mean_value, inplace=True)

11. change all the values of str_col with new value and drop the missing values. New
value should have prefix map_ and original value. Eg map_a, map_b

In [21]:
df["str_col"] = df["str_col"].fillna("").apply(lambda x: f"map_{x}" if x != "" else x)
df_cleaned = df.dropna()
print(df_cleaned)

   float_col  new_name str_col
0       0.10         1   map_a
1       0.20         2   map_b
2       0.20         6
3      10.10         8   map_c
4       2.65        -1   map_a

12. group all the values of str_col and find the mean of float_col in all the groups
respectively.

In [22]:
grouped_mean = df.groupby("str_col")["float_col"].mean()

# Print the result
print(grouped_mean)

str_col
          0.200
map_a     1.375
map_b     0.200
map_c    10.100
Name: float_col, dtype: float64

13. find the covariance of float_col and int_col

In [27]:
df.rename(columns={"new_name": "int_col"}, inplace=True)
df_cleaned = df.dropna()
covariance = df_cleaned["float_col"].cov(df_cleaned["int_col"])
print("Covariance between float_col and int_col:", covariance)

Covariance between float_col and int_col: 9.362499999999999

14. find the correlation of float_col and int_col

In [28]:
df_cleaned = df.dropna()
correlation = df_cleaned["float_col"].corr(df_cleaned["int_col"])
print("Correlation between float_col and int_col:", correlation)

Correlation between float_col and int_col: 0.5880528250381778

15. Create a data frame ‘other’ having columns some_val and str_col having values given
below


```
# some_val str_col
0   1       a
1   2       b
```
Perform inner join, outer join, left join and right join with data frame x

In [29]:
import pandas as pd

data_x = {
    "some_val": [1, 3],
    "int_col": [100, 200],
}
data_other = {
    "some_val": [1, 2],
    "str_col": ["a", "b"],
}
x = pd.DataFrame(data_x)
other = pd.DataFrame(data_other)

print("DataFrame x:")
print(x)
print("\nDataFrame other:")
print(other)

# Inner join
inner_join = pd.merge(x, other, on="some_val", how="inner")
print("\nInner Join:")
print(inner_join)

# Outer join
outer_join = pd.merge(x, other, on="some_val", how="outer")
print("\nOuter Join:")
print(outer_join)

# Left join
left_join = pd.merge(x, other, on="some_val", how="left")
print("\nLeft Join:")
print(left_join)

# Right join
right_join = pd.merge(x, other, on="some_val", how="right")
print("\nRight Join:")
print(right_join)

DataFrame x:
   some_val  int_col
0         1      100
1         3      200

DataFrame other:
   some_val str_col
0         1       a
1         2       b

Inner Join:
   some_val  int_col str_col
0         1      100       a

Outer Join:
   some_val  int_col str_col
0         1    100.0       a
1         2      NaN       b
2         3    200.0     NaN

Left Join:
   some_val  int_col str_col
0         1      100       a
1         3      200     NaN

Right Join:
   some_val  int_col str_col
0         1    100.0       a
1         2      NaN       b

16. When we want to send the same invitations to many people, the body of the mail
does not change. Only the name (and maybe address) needs to be changed.
 Mail merge is a process of doing this. Instead of writing each mail separately,
we have a template for body of the mail and a list of names that we merge
together to form all the mails.
Create a text file “names.txt” having the names.


```
Anil
sunita
suman
lokesh
Sumita
John
Johny
```

In [30]:
names = ["Anil", "sunita", "suman", "lokesh", "Sumita","John","Johny"]
with open("names.txt", "w") as file:
    # Write each name in the list to the file
    for name in names:
        file.write(name + "\n")

Create a text file “body.txt” having the body of email.


```
I am going to Delhi. Lets meet on 7th Jan 2018
Have a great day
Regards
Team Victory
```
Write a program which should create separate files Anil.txt, sunita.txt, suman.txt
etc after picking names from names.txt. content of these files looks like –



```
Anil.txt
-----------------------
Hello Anil
I am going to Delhi. Lets meet on 7th Jan 2018
Have a great day
Regards
Team Victory
------------------------
```

In [31]:
# Define the body of the email
email_body = """\
Hello {name},
I am going to Delhi. Lets meet on 7th Jan 2018
Have a great day
Regards
Team Victory
"""

# Open the file in write mode
with open("body.txt", "w") as file:
    # Write the email body to the file
    file.write(email_body)

In [39]:
# Read the names from names.txt
with open("names.txt", "r") as file:
    names = file.readlines()

# Read the names from names.txt
with open("body.txt", "r") as file:
    email_body = file.readlines()

email_body = ''.join(email_body)

# Trim any extra spaces or newline characters
names = [name.strip() for name in names]

for name in names:
    # Create the filename for each name (e.g., Anil.txt)
    filename = f"{name}.txt"

    # Open the file and write the content
    with open(filename, "w") as file:
        file.write(email_body.format(name=name))

    print(f"File {filename} has been created.")

File Anil.txt has been created.
File sunita.txt has been created.
File suman.txt has been created.
File lokesh.txt has been created.
File Sumita.txt has been created.
File John.txt has been created.
File Johny.txt has been created.